@{
    ViewData["Title"] = "Multi-staged forms";
}
<h1>@ViewData["Title"]</h1>
<ul>
    <li>
        <a asp-area="" asp-controller="Mockups" asp-action="Reset">Password Reset</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Mockups" asp-action="SignUp">Sign Up</a>
    </li>

</ul>